In [1]:
# lets build sales data
import build_sales_db
build_sales_db.main()

✅ Created and seeded sales.db

# Data is already in database.

* We want rag to answer questions such as 
```
How many items did we sold last month

Which item got most revenue last month
```

In [2]:
# lets create llm
from langchain_google_vertexai import ChatVertexAI
model = ChatVertexAI(
    model_name="gemini-2.5-flash-lite",
)

C:\Users\DELL\AppData\Local\Temp\ipykernel_25604\3522371365.py:3: DeprecationWarning: Use [`ChatGoogleGenerativeAI`][langchain_google_genai.ChatGoogleGenerativeAI] instead.
  model = ChatVertexAI(
C:\Users\DELL\AppData\Local\Temp\ipykernel_25604\3522371365.py:3: LangChainDeprecationWarning: The class `ChatVertexAI` was deprecated in LangChain 3.2.0 and will be removed in 4.0.0. An updated version of the class exists in the `langchain-google-genai package and should be used instead. To use it run `pip install -U `langchain-google-genai` and import as `from `langchain_google_genai import ChatGoogleGenerativeAI``.
  model = ChatVertexAI(

In [ ]:
# Langchain support sql agents

from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///sales.db")

db_tool_kit = SQLDatabaseToolkit(db=db, llm=model)

In [5]:
from langchain_community.agent_toolkits import create_sql_agent

agent = create_sql_agent(
    llm=model,
    toolkit=db_tool_kit,
    verbose=True,
)

In [6]:
agent

AgentExecutor(name='SQL Agent Executor', verbose=True, agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], input_types={}, partial_variables={'tools': "sql_db_query - Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema - Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!", 'tool_names': 'sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker'}, template='You are an agent designed to interact with a SQL database.\nGiven an input question, create a syntactically correct sqlite query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 10 results.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return "I don\'t know" as the answer.\n\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: {input}\nThought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.\n{agent_scratchpad}')
| RunnableBinding(bound=ChatVertexAI(profile={'max_input_tokens': 1048576, 'max_output_tokens': 65536, 'image_inputs': True, 'audio_inputs': True, 'pdf_inputs': True, 'video_inputs': True, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': True, 'tool_calling': True, 'image_url_inputs': True, 'image_tool_message': True, 'tool_choice': True, 'structured_output': True}, project='massive-seer-457104-j1', model_name='gemini-2.5-flash-lite', full_model_name='projects/massive-seer-457104-j1/locations/us-central1/publishers/google/models/gemini-2.5-flash-lite', client_options=ClientOptions: {'api_endpoint': 'us-central1-aiplatform.googleapis.com', 'client_cert_source': None, 'client_encrypted_cert_source': None, 'quota_project_id': None, 'credentials_file': None, 'scopes': None, 'api_key': None, 'api_audience': None, 'universe_domain': None}, default_metadata=(), model_kwargs={}), kwargs={'stop': ['\nObservation']}, config={}, config_factories=[])
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output'], stream_runnable=True), tools=[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002800A23CD70>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002800A23CD70>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002800A23CD70>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002800A23CD70>, llm=ChatVertexAI(profile={'max_input_tokens': 1048576, 'max_output_tokens': 65536, 'image_inputs': True, 'audio_inputs': True, 'pdf_inputs': True, 'video_inputs': True, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': True, 'tool_calling': True, 'image_url_inputs': True, 'image_tool_message': True, 'tool_choice': True, 'structured_output': True}, project='massive-seer-457104-j1', model_name='gemini-2.5-flash-lite', full_model_name='projects/massive-seer-457104-j1/locations/us-central1/publishers/google/models/gemini-2.5-flash-lite', client_options=ClientOptions: {'api_endpoint': 'us-central1-aiplatform.googleapis.com', 'client_cert_source': None, 'client_encrypted_cert_source': None, 'quota_project_id': None, 'credentials_file': None, 'scopes': None, 'api_key': None, 'api_audience': None, 'universe_domain': None}, default_metadata=(), model_kwargs={}), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatVertexAI(profile={'max_input_tokens': 1048576, 'max_output_tokens': 65536, 'image_inputs': True, 'audio_inputs': True, 'pdf_inputs': True, 'video_inputs': True, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': True, 'tool_calling': True, 'image_url_inputs': True, 'image_tool_message': True, 'tool_choice': True, 'structured_output': True}, project='massive-seer-457104-j1', model_name='gemini-2.5-flash-lite', full_model_name='projects/massive-seer-457104-j1/locations/us-central1/publishers/google/models/gemini-2.5-flash-lite', client_options=ClientOptions: {'api_endpoint': 'us-central1-aiplatform.googleapis.com', 'client_cert_source': None, 'client_encrypted_cert_source': None, 'quota_project_id': None, 'credentials_file': None, 'scopes': None, 'api_key': None, 'api_audience': None, 'universe_domain': None}, default_metadata=(), model_kwargs={}), output_parser=StrOutputParser(), llm_kwargs={}))])

In [7]:
response = agent.invoke(
    {"input": "How many items did we sold last month"}
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input:customers, order_items, orders, productsThe user is asking for the number of items sold last month. This information is likely in the `orders` and `order_items` tables. I should inspect the schema of these tables to understand how to calculate the total number of items sold.
Action: sql_db_schema
Action Input: orders, order_items
CREATE TABLE order_items (
	order_item_id INTEGER,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	qty INTEGER NOT NULL,
	unit_price REAL NOT NULL,
	discount REAL NOT NULL,
	PRIMARY KEY (order_item_id),
	FOREIGN KEY(order_id) REFERENCES orders (order_id),
	FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from order_items table:
order_item_id	order_id	product_id	qty	unit_price	discount
1	1	28	3	3516.32	0.15
2	2	42	5	510.81	0.15
3	2	18	4	39362.22	0.2
*/


CREATE TABLE orders (
	order_id INTEGER,
	customer_id INTEGER NOT NULL,
	order_date TEXT NOT NULL,
	channel TEXT NOT NULL,
	region TEXT NOT NULL,
	PRIMARY KEY (order_id),
	FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
)

/*
3 rows from orders table:
order_id	customer_id	order_date	channel	region
1	88	2025-02-09	Retail	East
2	182	2025-04-22	Retail	North
3	157	2026-01-11	Retail	West
*/The `order_items` table contains the `qty` column, which represents the quantity of items in an order. The `orders` table contains the `order_date` column. To find the number of items sold last month, I need to join these two tables and filter by the `order_date`. I will assume "last month" refers to the month prior to the current date. I will use the `strftime` function to extract the year and month from `order_date` and compare it to the year and month of the previous month. I will use `sql_db_query_checker` to validate the query before execution.
Action: sql_db_query_checker
Action Input: SELECT SUM(T1.qty) FROM order_items AS T1 INNER JOIN orders AS T2 ON T1.order_id = T2.order_id WHERE STRFTIME('%Y-%m', T2.order_date) = STRFTIME('%Y-%m', DATE('now', '-1 month'))```sql
SELECT SUM(T1.qty) FROM order_items AS T1 INNER JOIN orders AS T2 ON T1.order_id = T2.order_id WHERE STRFTIME('%Y-%m', T2.order_date) = STRFTIME('%Y-%m', DATE('now', '-1 month'))
```The query checker confirmed the query is syntactically correct. Now I can execute it to get the answer.
Action: sql_db_query
Action Input: SELECT SUM(T1.qty) FROM order_items AS T1 INNER JOIN orders AS T2 ON T1.order_id = T2.order_id WHERE STRFTIME('%Y-%m', T2.order_date) = STRFTIME('%Y-%m', DATE('now', '-1 month'))[(1745,)]The query returned the total quantity of items sold last month as 1745.
Final Answer: 1745

> Finished chain.

In [8]:
response

{'input': 'How many items did we sold last month', 'output': '1745'}

In [9]:
response = agent.invoke(
    {"input": "Which item was sold the most last month"}
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, order_items, orders, productsThe user is asking about sales data from "last month", which suggests I need to look at tables related to orders and products. I should examine the schema for `orders` and `order_items` to understand how sales are recorded and if there's a timestamp for when orders were placed.
Action: sql_db_schema
Action Input: orders, order_items
CREATE TABLE order_items (
	order_item_id INTEGER,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	qty INTEGER NOT NULL,
	unit_price REAL NOT NULL,
	discount REAL NOT NULL,
	PRIMARY KEY (order_item_id),
	FOREIGN KEY(order_id) REFERENCES orders (order_id),
	FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from order_items table:
order_item_id	order_id	product_id	qty	unit_price	discount
1	1	28	3	3516.32	0.15
2	2	42	5	510.81	0.15
3	2	18	4	39362.22	0.2
*/


CREATE TABLE orders (
	order_id INTEGER,
	customer_id INTEGER NOT NULL,
	order_date TEXT NOT NULL,
	channel TEXT NOT NULL,
	region TEXT NOT NULL,
	PRIMARY KEY (order_id),
	FOREIGN KEY(customer_id) REFERENCES customers (customer_id)
)

/*
3 rows from orders table:
order_id	customer_id	order_date	channel	region
1	88	2025-02-09	Retail	East
2	182	2025-04-22	Retail	North
3	157	2026-01-11	Retail	West
*/The user is asking for the item sold the most last month.
I have the `orders` table with `order_date` and the `order_items` table with `product_id` and `qty`.
I need to:
1. Determine what "last month" refers to. Since the data has dates like 2025-02-09, 2025-04-22, 2026-01-11, I need to consider the current date or assume a reference point. Given the prompt does not specify a current date, I will assume "last month" refers to a recent month present in the data, and I will pick January 2026 as a reference for "last month" for demonstration.
2. Join `orders` and `order_items` tables on `order_id`.
3. Filter orders to the last month (e.g., January 2026).
4. Group by `product_id` and sum the `qty` to get the total quantity sold for each product.
5. Order the results by the total quantity sold in descending order and limit to 1 to find the most sold item.
6. To get the item name, I will need to query the `products` table as well.

First, I need to check the schema for the `products` table.
Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	product_id INTEGER,
	name TEXT NOT NULL,
	category TEXT NOT NULL,
	list_price REAL NOT NULL,
	PRIMARY KEY (product_id)
)

/*
3 rows from products table:
product_id	name	category	list_price
1	Product 001	Electronics	35533.0
2	Product 002	Home	9982.66
3	Product 003	Home	13232.84
*/I have all the necessary tables and columns: `orders` (for `order_date`), `order_items` (for `product_id` and `qty`), and `products` (for `name`).
I will assume "last month" refers to January 2026 for the purpose of this query, as it's a recent month in the sample data.
I will join `orders` and `order_items` on `order_id`, then join with `products` on `product_id`.
I will filter for orders placed in '2026-01-01' to '2026-01-31'.
Then, I will group by product name and sum the quantities, order by the sum in descending order, and limit to 1.
Before executing, I will use `sql_db_query_checker`.
Action: sql_db_query_checker
Action Input: SELECT T3.name FROM orders AS T1 INNER JOIN order_items AS T2 ON T1.order_id = T2.order_id INNER JOIN products AS T3 ON T2.product_id = T3.product_id WHERE T1.order_date BETWEEN '2026-01-01' AND '2026-01-31' GROUP BY T3.name ORDER BY SUM(T2.qty) DESC LIMIT 1```sql
SELECT T3.name
FROM orders AS T1
INNER JOIN order_items AS T2
  ON T1.order_id = T2.order_id
INNER JOIN products AS T3
  ON T2.product_id = T3.product_id
WHERE
  T1.order_date BETWEEN '2026-01-01' AND '2026-01-31'
GROUP BY
  T3.name
ORDER BY
  SUM(T2.qty) DESC
LIMIT 1;
```The query checker confirmed the query is syntactically correct. I can now execute it to get the result.
Action: sql_db_query
Action Input: SELECT T3.name FROM orders AS T1 INNER JOIN order_items AS T2 ON T1.order_id = T2.order_id INNER JOIN products AS T3 ON T2.product_id = T3.product_id WHERE T1.order_date BETWEEN '2026-01-01' AND '2026-01-31' GROUP BY T3.name ORDER BY SUM(T2.qty) DESC LIMIT 1[('Product 031',)]The user asked for the item sold the most last month. I have executed a query that joins the `orders`, `order_items`, and `products` tables, filters for orders in January 2026, groups by product name, sums the quantities sold, and returns the name of the product with the highest quantity sold. The result of the query is ('Product 031',).
Final Answer: Product 031

> Finished chain.

In [10]:
print(response)

{'input': 'Which item was sold the most last month', 'output': 'Product 031'}

In [11]:
response = agent.invoke(
    {"input": "Give me top 5 items sold by revenu in descending order with item name, count and total revenue generated"}
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, order_items, orders, productsThe user is asking for the top 5 items sold by revenue. This information is likely to be found in tables related to orders and products. I should inspect the schema of `order_items` and `products` tables to understand how to join them and extract the required information.
Action: sql_db_schema
Action Input: order_items, products
CREATE TABLE order_items (
	order_item_id INTEGER,
	order_id INTEGER NOT NULL,
	product_id INTEGER NOT NULL,
	qty INTEGER NOT NULL,
	unit_price REAL NOT NULL,
	discount REAL NOT NULL,
	PRIMARY KEY (order_item_id),
	FOREIGN KEY(order_id) REFERENCES orders (order_id),
	FOREIGN KEY(product_id) REFERENCES products (product_id)
)

/*
3 rows from order_items table:
order_item_id	order_id	product_id	qty	unit_price	discount
1	1	28	3	3516.32	0.15
2	2	42	5	510.81	0.15
3	2	18	4	39362.22	0.2
*/


CREATE TABLE products (
	product_id INTEGER,
	name TEXT NOT NULL,
	category TEXT NOT NULL,
	list_price REAL NOT NULL,
	PRIMARY KEY (product_id)
)

/*
3 rows from products table:
product_id	name	category	list_price
1	Product 001	Electronics	35533.0
2	Product 002	Home	9982.66
3	Product 003	Home	13232.84
*/The user wants to know the top 5 items sold by revenue. I have the `order_items` table which contains `product_id`, `qty`, and `unit_price`, and the `products` table which contains `product_id` and `name`.

To calculate the revenue for each item, I need to:
1. Join `order_items` and `products` tables on `product_id`.
2. For each item, calculate the revenue generated by `qty * unit_price * (1 - discount)`.
3. Group the results by `product_id` and `name`.
4. Sum the revenue for each item.
5. Order the results by total revenue in descending order.
6. Limit the results to the top 5.

Let's construct the query.
Action: sql_db_query_checker
Action Input: SELECT
  p.name AS item_name,
  SUM(oi.qty) AS total_quantity_sold,
  SUM(oi.qty * oi.unit_price * (1 - oi.discount)) AS total_revenue
FROM order_items AS oi
JOIN products AS p
  ON oi.product_id = p.product_id
GROUP BY
  p.product_id,
  p.name
ORDER BY
  total_revenue DESC
LIMIT 5;```sql
SELECT
  p.name AS item_name,
  SUM(oi.qty) AS total_quantity_sold,
  SUM(oi.qty * oi.unit_price * (1 - oi.discount)) AS total_revenue
FROM order_items AS oi
JOIN products AS p
  ON oi.product_id = p.product_id
GROUP BY
  p.product_id,
  p.name
ORDER BY
  total_revenue DESC
LIMIT 5;
```The query looks correct and addresses all the requirements of the user's question. I will now execute it.
Action: sql_db_query
Action Input: SELECT
  p.name AS item_name,
  SUM(oi.qty) AS total_quantity_sold,
  SUM(oi.qty * oi.unit_price * (1 - oi.discount)) AS total_revenue
FROM order_items AS oi
JOIN products AS p
  ON oi.product_id = p.product_id
GROUP BY
  p.product_id,
  p.name
ORDER BY
  total_revenue DESC
LIMIT 5;[('Product 018', 377, 12559527.948), ('Product 053', 352, 11531437.777), ('Product 001', 365, 11048054.2645), ('Product 011', 364, 10949414.466500001), ('Product 044', 340, 10136998.4285)]The user asked for the top 5 items sold by revenue, with item name, count, and total revenue. The query executed returned these exact details. The results are:
- Product 018: sold 377 units, generated 12,559,527.948 in revenue.
- Product 053: sold 352 units, generated 11,531,437.777 in revenue.
- Product 001: sold 365 units, generated 11,048,054.2645 in revenue.
- Product 011: sold 364 units, generated 10,949,414.466500001 in revenue.
- Product 044: sold 340 units, generated 10,136,998.4285 in revenue.

I can now format this as the final answer.
Final Answer: The top 5 items sold by revenue are:
1. Product 018: Count = 377, Total Revenue = 12559527.948
2. Product 053: Count = 352, Total Revenue = 11531437.777
3. Product 001: Count = 365, Total Revenue = 11048054.2645
4. Product 011: Count = 364, Total Revenue = 10949414.466500001
5. Product 044: Count = 340, Total Revenue = 10136998.4285

> Finished chain.

In [12]:
response

{'input': 'Give me top 5 items sold by revenu in descending order with item name, count and total revenue generated',
 'output': 'The top 5 items sold by revenue are:\n1. Product 018: Count = 377, Total Revenue = 12559527.948\n2. Product 053: Count = 352, Total Revenue = 11531437.777\n3. Product 001: Count = 365, Total Revenue = 11048054.2645\n4. Product 011: Count = 364, Total Revenue = 10949414.466500001\n5. Product 044: Count = 340, Total Revenue = 10136998.4285'}

In [13]:
print(response['output'])

The top 5 items sold by revenue are:
1. Product 018: Count = 377, Total Revenue = 12559527.948
2. Product 053: Count = 352, Total Revenue = 11531437.777
3. Product 001: Count = 365, Total Revenue = 11048054.2645
4. Product 011: Count = 364, Total Revenue = 10949414.466500001
5. Product 044: Count = 340, Total Revenue = 10136998.4285

# Lets try csv

In [14]:
from build_sales_csv import main as build_csv
build_csv()

✅ CSV files created:
 - customers.csv
 - products.csv
 - orders.csv
 - order_items.csv

In [15]:
import pandas as pd
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent

In [17]:

products_df = pd.read_csv('products.csv')
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
customers_df = pd.read_csv('customers.csv')

In [22]:
agent = create_pandas_dataframe_agent(
    llm=model,
    df=[orders_df, order_items_df, customers_df],
    verbose=True,
    allow_dangerous_code=True
)

In [23]:
agent.invoke(
    {"input": "How many items did we sold last month"})

> Entering new AgentExecutor chain...
Thought: The question asks about the number of items sold last month. To answer this, I need to:
1. Determine what "last month" refers to in the context of the data. The `order_date` column in `df1` seems to be the relevant one. I should find the most recent order date in the dataset to establish a reference point for "last month".
2. Calculate the date range for "last month" based on the most recent order date.
3. Filter `df1` to include only orders placed within "last month".
4. Join the filtered `df1` with `df2` (which contains `order_item_id` and `qty`) on `order_id`.
5. Sum the `qty` column from the joined dataframe to get the total number of items sold.

Let's start by finding the most recent order date.
Action: python_repl_ast
Action Input: print(df1['order_date'].max())2026-02-03
The most recent order date is 2026-02-03. Therefore, "last month" refers to January 2026.

Now I need to:
1. Filter `df1` to include only orders placed in January 2026.
2. Join the filtered `df1` with `df2` on `order_id`.
3. Sum the `qty` column from the joined dataframe.
Action: python_repl_ast
Action Input: import pandas as pd
df1['order_date'] = pd.to_datetime(df1['order_date'])
last_month_orders = df1[(df1['order_date'].dt.year == 2026) & (df1['order_date'].dt.month == 1)]
merged_df = pd.merge(last_month_orders, df2, on='order_id')
total_items_sold_last_month = merged_df['qty'].sum()
print(total_items_sold_last_month)1745
I have successfully calculated the total number of items sold last month (January 2026) by filtering `df1` for orders in that month, merging it with `df2` to get the quantity of items, and then summing the quantities.
Final Answer: 1745

> Finished chain.

{'input': 'How many items did we sold last month', 'output': '1745'}

# Better approach to deal with this kind of data

* Use DuckDB